### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
filepath = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(filepath)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:


renamed_df = purchase_data_df.rename(columns={"SN":"Total Players",})

unique_names = renamed_df["Total Players"].unique()

Total = len(unique_names)
renamed_df = pd.DataFrame([{"Total Players ":Total}])
renamed_df
renamed_df.head()

   Total Players
0             576

## Purchasing Analysis (Total)

In [3]:
count = purchase_data_df["Item ID"].unique()
total_1=len(count)
total_2=purchase_data_df["Item Name"].count()
total_3=purchase_data_df["Price"].mean()
total_4=purchase_data_df["Price"].sum()

summary_df = pd.DataFrame([{"Number of Unique Items ":total_1,"Number of Purchases":total_2,"Average Price":total_3,"Total revenue":total_4}])
summary_df
# .map("${:.2f}".format)

   Number of Unique Items   Number of Purchases  Average Price  Total revenue
0                      179                  780       3.050987        2379.77

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
cleaned_df = purchase_data_df.sort_values("SN")
df=cleaned_df.drop_duplicates(subset="SN",keep="first")

In [5]:
s=df['Gender']
Count1=s.value_counts()
Count1

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [6]:
percentage=s.value_counts(normalize=True).mul(100).round(1).astype(str)+'%'
percentage
# Format=df2
# Format
# df2=df['Gender'].value_counts(normalize=True) * 100
# Format=df2.map("{:.2f}%".format)
# new=new.rename(columns={'Gender':"Percentage of Player"})

Male                     84.0%
Female                   14.1%
Other / Non-Disclosed     1.9%
Name: Gender, dtype: object

In [7]:
summary_df = pd.DataFrame({"Total Count":Count1,"Percentage of Player":percentage})
summary_df

                       Total Count Percentage of Player
Male                           484                84.0%
Female                          81                14.1%
Other / Non-Disclosed           11                 1.9%


## Purchasing Analysis (Gender)

In [8]:
grouped_df = purchase_data_df.groupby('Gender')
# grouped_df.describe()
count=grouped_df["Item Name"].count()
count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [9]:
average=grouped_df["Price"].mean().map("${:.2f}".format)
average

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
Name: Price, dtype: object

In [10]:
total=grouped_df["Price"].sum().map("${:.2f}".format)
total

Gender
Female                    $361.94
Male                     $1967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: object

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# avg_total = average/total
# avg_total

In [12]:
summary_df = pd.DataFrame({"Purchase Count":count,"Average Purchase Price":average,"Total Purchase Value":total})
summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,$1967.64
Other / Non-Disclosed,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
 bin = [0,10,15,20,25,30,35,40,45,50]
label_names= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40-44","40+"]

In [14]:
df["Age Ranges"]=pd.cut(df["Age"],bin,labels=label_names,include_lowest=True)
df["Age Ranges"]

/Users/vineetsikriyahoo.com/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

467    15-19
142    30-34
388    15-19
28     20-24
630    20-24
       ...
125    15-19
595    20-24
572    15-19
54       <10
560    20-24
Name: Age Ranges, Length: 576, dtype: category
Categories (9, object): [<10 < 10-14 < 15-19 < 20-24 ... 30-34 < 35-39 < 40-44 < 40+]

In [15]:
df_count=df["Age Ranges"].value_counts()
df_count

20-24    232
15-19    150
25-29     59
10-14     41
30-34     37
35-39     26
<10       24
40-44      7
40+        0
Name: Age Ranges, dtype: int64

In [16]:
percentage=df["Age Ranges"].value_counts(normalize=True).mul(100).round(1).astype(str)+'%'
percentage

20-24    40.3%
15-19    26.0%
25-29    10.2%
10-14     7.1%
30-34     6.4%
35-39     4.5%
<10       4.2%
40-44     1.2%
40+       0.0%
Name: Age Ranges, dtype: object

In [17]:
# age_demographic_df = age_demographic_df.rename_axis([""])
age_demographic_df = pd.DataFrame({"Total Count": df_count,
                           "Percentage of Players": percentage})
age_demographic_df

       Total Count Percentage of Players
20-24          232                 40.3%
15-19          150                 26.0%
25-29           59                 10.2%
10-14           41                  7.1%
30-34           37                  6.4%
35-39           26                  4.5%
<10             24                  4.2%
40-44            7                  1.2%
40+              0                  0.0%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
bin = [0,10,15,20,25,30,35,40,45,50]
label_names= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40-44","40+"]

In [19]:
df["Age Ranges"]=pd.cut(df["Age"],bin,labels=label_names,include_lowest=True)
df["Age Ranges"]

/Users/vineetsikriyahoo.com/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

467    15-19
142    30-34
388    15-19
28     20-24
630    20-24
       ...
125    15-19
595    20-24
572    15-19
54       <10
560    20-24
Name: Age Ranges, Length: 576, dtype: category
Categories (9, object): [<10 < 10-14 < 15-19 < 20-24 ... 30-34 < 35-39 < 40-44 < 40+]

In [31]:
purchase_count = df["Purchase ID"].count()
purchase_count

576

In [32]:

avg_purchase = df["Price"].mean()
avg_purchase

3.050086805555557

In [33]:
total_value = df["Price"].sum()
total_value

1756.85

In [34]:


age_count=df["SN"].nunique()
avg_total = total_value / age_count
avg_total

3.0500868055555554

In [49]:
age_pay_df = pd.DataFrame({"Purchase Count": purchase_count,
                           "Average Purchase Price": avg_purchase,
                          "Total Purchase Value":total_value})
age_pay_df

ValueError: If using all scalar values, you must pass an index

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [48]:

spenders_df = purchase_data_df.groupby(["SN"])

spenders_purchase = spenders_df["Price"].sum().map("${:.2f}".format)


sep_purchase_count = spenders_df["Purchase ID"].count()

avg_purchase_price = spenders_df["Price"].mean().map("${:.2f}".format)


spenders_data = pd.DataFrame({"Purchase Count": sep_purchase_count,
                             "Average Purchase Price": avg_purchase_price,
                             "Total Purchase Value": spenders_purchase})


top_spenders = spenders_data.sort_values(["Total Purchase Value"], ascending = False)

top_spenders.head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [56]:
# purchase_data_df.iloc[:,df,columns.isin(list('Item ID, Item Name, Item Price columns'))]
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [82]:
df.drop(columns=['Purchase ID', 'SN','Age','Gender'])

     Item ID                                  Item Name  Price Age Ranges
467      123                          Twilight's Carver   2.28      15-19
142      175                 Woeful Adamantite Claymore   4.48      30-34
388      128              Blazeguard, Reach of Eternity   4.91      15-19
28       119  Stormbringer, Dark Blade of Ending Misery   4.32      20-24
630      171                                    Scalpel   1.79      20-24
..       ...                                        ...    ...        ...
125       62                                Piece Maker   1.87      15-19
595       55                      Vindictive Glass Edge   2.27      20-24
572      145                       Fiery Glass Crusader   4.58      15-19
54        25                                  Hero Cane   4.35        <10
560        2                                    Verdict   2.48      20-24

[576 rows x 4 columns]

In [96]:
grouped_df1 = purchase_data_df.groupby(['Item ID','Item Name'])
grouped_df1
purchase = grouped_df1["Price"].sum()

purchase_count = grouped_df1["Purchase ID"].count()

purchase_price = grouped_df1["Price"].mean()

purchase_data = pd.DataFrame({"Purchase Count": purchase_count,"Item Price": purchase_price,
                             "Total Purchase Value": purchase})




purchase_data = purchase_data.sort_values(["Purchase Count"], ascending = False)
purchase_data
# top_spenders.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77
...,...,...,...,...
42,The Decapitator,1,1.750000,1.75
51,Endbringer,1,4.660000,4.66
118,"Ghost Reaver, Longsword of Magic",1,2.170000,2.17
104,Gladiator's Glaive,1,1.930000,1.93
91,Celeste,1,4.170000,4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [97]:
purchase_data = purchase_data.sort_values(["Total Purchase Value"], ascending = False)
purchase_data.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80