### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
filepath = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(filepath)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:


renamed_df = purchase_data_df.rename(columns={"SN":"Total Players",})

unique_names = renamed_df["Total Players"].unique()

Total = len(unique_names)
renamed_df = pd.DataFrame([{"Total Players ":Total}])
renamed_df
renamed_df.head()

   Total Players
0             576

## Purchasing Analysis (Total)

In [3]:
count = purchase_data_df["Item ID"].unique()
total_1=len(count)
total_2=purchase_data_df["Item Name"].count()
total_2
total_3=purchase_data_df["Price"].mean()
#.map("${:.2f}".format)
total_4=purchase_data_df["Price"].sum()
#.map("${:.2f}".format)


# .map("${:.2f}".format)

In [4]:
summary_df = pd.DataFrame([{"Number of Unique Items ":total_1,"Number of Purchases":total_2,"Average Price":total_3,"Total revenue":total_4}])

summary_df["Average Price"]=summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total revenue"]=summary_df["Total revenue"].map("${:.2f}".format)

summary_df

   Number of Unique Items   Number of Purchases Average Price Total revenue
0                      179                  780         $3.05      $2379.77

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
cleaned_df = purchase_data_df.sort_values("SN")
df=cleaned_df.drop_duplicates(subset="SN",keep="first")

In [6]:
s=df['Gender']
Count1=s.value_counts()
Count1

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [7]:
percentage=s.value_counts(normalize=True).mul(100).round(1).astype(str)+'%'
percentage
# Format=df2
# Format
# df2=df['Gender'].value_counts(normalize=True) * 100
# Format=df2.map("{:.2f}%".format)
# new=new.rename(columns={'Gender':"Percentage of Player"})

Male                     84.0%
Female                   14.1%
Other / Non-Disclosed     1.9%
Name: Gender, dtype: object

In [79]:
summary_df = pd.DataFrame({"Total Count":Count1,"Percentage of Player":percentage})
summary_df

                       Total Count Percentage of Player
Male                           484                84.0%
Female                          81                14.1%
Other / Non-Disclosed           11                 1.9%


## Purchasing Analysis (Gender)

In [80]:
grouped_df = purchase_data_df.groupby('Gender')
count=grouped_df["Item Name"].count()
#count = pd.DataFrame(count)
count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [81]:
average=grouped_df["Price"].mean().map("${:.2f}".format)
average

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
Name: Price, dtype: object

In [97]:
total=grouped_df["Price"].sum() #.map("${:.2f}".format)
totalmap=grouped_df["Price"].sum().map("${:.2f}".format)
# #total = pd.DataFrame(total)
# totalmap = pd.DataFrame(total)

# totalmap

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [83]:
summary_df['Total Count']

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Total Count, dtype: int64

In [84]:
avg_total = total/summary_df['Total Count']
avg_total = avg_total.map("${:.2f}".format)
#avg_total = pd.DataFrame(avg_total)
avg_total

Female                   $4.47
Male                     $4.07
Other / Non-Disclosed    $4.56
dtype: object

In [85]:
count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [98]:
summary_df = pd.DataFrame({"Purchase Count":count,"Average Purchase Price":average,"Total Purchase Value":totalmap,'Avg Total Purchase per Person':avg_total})
summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [32]:
 bin = [0,9,14,19,24,29,34,39,60]
label_names= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [33]:
df["Age Ranges"]=pd.cut(df.loc[:,"Age"],bin,labels=label_names)
df["Age Ranges"]
df1=df.groupby("Age Ranges")
df2=df1["SN"].count()
df3=pd.DataFrame({"Total Count": df2})
#                            "Percentage of Players": percentage})
df3["Percentage of Players"]=df3["Total Count"]/len(df)*100
df3.index.names=["Age"]
df3["Percentage of Players"]=df3["Percentage of Players"].map("{:,.2f}%".format)
df3

/Users/vineetsikriyahoo.com/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       Total Count Percentage of Players
Age
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [34]:
# df_count=df["Age Ranges"].value_counts()
# df_count

In [35]:
# df_count = df_count.sort_values(["Age Ranges"], ascending = True)

# df_count.head()

In [36]:
# percentage=df["Age Ranges"].value_counts(normalize=True).mul(100).round(1).astype(str)+'%'
# percentage

In [37]:
# # age_demographic_df = age_demographic_df.rename_axis([""])
# age_demographic_df = pd.DataFrame({"Total Count": df_count,
#                            "Percentage of Players": percentage})
# age_demographic_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
bin = [0,9,14,19,24,29,34,39,46]
label_names= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [39]:
purchase_data_df["Age Ranges"]=pd.cut(purchase_data_df["Age"],bin,labels=label_names)
data_df=purchase_data_df.groupby("Age Ranges")

In [40]:
purchase_count = data_df["Purchase ID"].count()
purchase_count

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [41]:

avg_purchase = data_df["Price"].mean().map("${:.2f}".format)
avg_purchase

Age Ranges
<10      $3.35
10-14    $2.96
15-19    $3.04
20-24    $3.05
25-29    $2.90
30-34    $2.93
35-39    $3.60
40+      $2.94
Name: Price, dtype: object

In [42]:
total_value = data_df["Price"].sum().map("${:.2f}".format)
total_value

Age Ranges
<10        $77.13
10-14      $82.78
15-19     $412.89
20-24    $1114.06
25-29     $293.00
30-34     $214.00
35-39     $147.67
40+        $38.24
Name: Price, dtype: object

In [125]:

avg_total = total_value/purchase_count
# avg_total = avg_total.map("${:.2f}".format)
#avg_total = pd.DataFrame(avg_total)
avg_total

ValueError: cannot join with no overlapping index names

In [120]:
age_pay_df = pd.DataFrame({"Purchase Count": purchase_count,
                           "Average Purchase Price": avg_purchase,
                           "Total Purchase Value":total_value,
                           "Avg Total Purchase per Person":avg_total})
age_pay_df

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'signed char'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [96]:
spenders_df = purchase_data_df.groupby(["SN"]).count()['Purchase ID']
pd.DataFrame(spenders_df)

               Purchase ID
SN
Adairialis76             1
Adastirin33              1
Aeda94                   1
Aela59                   1
Aelaria33                1
...                    ...
Yathecal82               3
Yathedeu43               2
Yoishirrala98            1
Zhisrisu83               2
Zontibe81                3

[576 rows x 1 columns]

In [91]:
# cleaned_df = purchase_data_df.sort_values("SN")
# df=cleaned_df.drop_duplicates(subset="SN",keep="first")
spenders_df = purchase_data_df.groupby(["SN"])

spenders_purchase = spenders_df["Price"].sum().map("${:.2f}".format)


sep_purchase_count = spenders_df["Purchase ID"].count()

avg_purchase_price = spenders_df["Price"].mean().map("${:.2f}".format)


spenders_data = pd.DataFrame({"Purchase Count": sep_purchase_count,
                             "Average Purchase Price": avg_purchase_price,
                             "Total Purchase Value": spenders_purchase})


top_spenders = spenders_data.sort_values(["Total Purchase Value"], ascending = False)

top_spenders.head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# purchase_data_df.iloc[:,df,columns.isin(list('Item ID, Item Name, Item Price columns'))]
purchase_data_df.head()

In [14]:
droppedf = df.drop(columns=['Purchase ID', 'SN','Age','Gender'])
droppedf.head()

     Item ID                                  Item Name  Price
467      123                          Twilight's Carver   2.28
142      175                 Woeful Adamantite Claymore   4.48
388      128              Blazeguard, Reach of Eternity   4.91
28       119  Stormbringer, Dark Blade of Ending Misery   4.32
630      171                                    Scalpel   1.79

In [90]:
grouped_df1 = purchase_data_df.groupby(['Item ID','Item Name'])
grouped_df1
purchase = grouped_df1["Price"].sum()
purchase_count = grouped_df1["Purchase ID"].count()
purchase_price = grouped_df1["Price"].mean()



purchase_data = pd.DataFrame({"Purchase Count": purchase_count,"Item Price": purchase_price,
                             "Total Purchase Value": purchase})

purchase_data["Item Price"]=purchase_data["Item Price"].map("${:.2f}".format)
purchase_data["Total Purchase Value"]=purchase_data["Total Purchase Value"].map("${:.2f}".format)

purchase_data = purchase_data.sort_values(["Purchase Count"], ascending = False)
purchase_data.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
purchase_data = purchase_data.sort_values(["Total Purchase Value"], ascending = False)
purchase_data.head()

In [ ]:
Observations
1) Majority of the players are in 15-30 years range and  that determines their spending habbits and possibly the choice of product they Buy
2) Majority of Players are males and male bias can result in the kind of items being sold and can have direct effect on spending habbit and profitability 
3) average price of products is in range $2-$5 . Items need to have more variety and price range , if we need to improve prifitability