### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
filepath = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(filepath)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:


renamed_df = purchase_data_df.rename(columns={"SN":"Total Players",})

unique_names = renamed_df["Total Players"].unique()

Total = len(unique_names)
renamed_df = pd.DataFrame([{"Total Players ":Total}])
renamed_df
renamed_df.head()

   Total Players
0             576

## Purchasing Analysis (Total)

In [3]:
count = purchase_data_df["Item ID"].unique()
total_1=len(count)
total_2=purchase_data_df["Item Name"].count()
total_2
total_3=purchase_data_df["Price"].mean()
#.map("${:.2f}".format)
total_4=purchase_data_df["Price"].sum()
#.map("${:.2f}".format)


# .map("${:.2f}".format)

In [4]:
summary_df = pd.DataFrame([{"Number of Unique Items ":total_1,"Number of Purchases":total_2,"Average Price":total_3,"Total revenue":total_4}])

summary_df["Average Price"]=summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total revenue"]=summary_df["Total revenue"].map("${:.2f}".format)

summary_df

   Number of Unique Items   Number of Purchases Average Price Total revenue
0                      179                  780         $3.05      $2379.77

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
cleaned_df = purchase_data_df.sort_values("SN")
df=cleaned_df.drop_duplicates(subset="SN",keep="first")

In [6]:
s=df['Gender']
Count1=s.value_counts()
Count1

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [7]:
percentage=s.value_counts(normalize=True).mul(100).round(1).astype(str)+'%'
percentage
# Format=df2
# Format
# df2=df['Gender'].value_counts(normalize=True) * 100
# Format=df2.map("{:.2f}%".format)
# new=new.rename(columns={'Gender':"Percentage of Player"})

Male                     84.0%
Female                   14.1%
Other / Non-Disclosed     1.9%
Name: Gender, dtype: object

In [8]:
summary_df = pd.DataFrame({"Total Count":Count1,"Percentage of Player":percentage})
summary_df

                       Total Count Percentage of Player
Male                           484                84.0%
Female                          81                14.1%
Other / Non-Disclosed           11                 1.9%


## Purchasing Analysis (Gender)

In [9]:
grouped_df = purchase_data_df.groupby('Gender')
count=grouped_df["Item Name"].count()
count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [10]:
average=grouped_df["Price"].mean().map("${:.2f}".format)
average

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
Name: Price, dtype: object

In [11]:
total=grouped_df["Price"].sum().map("${:.2f}".format)
total

Gender
Female                    $361.94
Male                     $1967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: object

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# avg_total = average/total
# avg_total

In [13]:
summary_df = pd.DataFrame({"Purchase Count":count,"Average Purchase Price":average,"Total Purchase Value":total})
summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,$1967.64
Other / Non-Disclosed,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
 bin = [0,10,15,20,25,30,35,40,45,50]
label_names= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40-44","40+"]

In [15]:
df["Age Ranges"]=pd.cut(df.loc[:,"Age"],bin,labels=label_names)
df["Age Ranges"]
df1=df.groupby("Age Ranges")
df2=df1["SN"].count()
df3=pd.DataFrame({"Total Count": df2})
#                            "Percentage of Players": percentage})
df3["Percentage of Players"]=df3["Total Count"]/len(df)
df3.index.names=["Age"]
df3["Percentage of Players"]=df3["Percentage of Players"].map("{:,.2f}%".format)
df3

/Users/vineetsikriyahoo.com/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       Total Count Percentage of Players
Age
<10             24                 0.04%
10-14           41                 0.07%
15-19          150                 0.26%
20-24          232                 0.40%
25-29           59                 0.10%
30-34           37                 0.06%
35-39           26                 0.05%
40-44            7                 0.01%
40+              0                 0.00%

In [16]:
# df_count=df["Age Ranges"].value_counts()
# df_count

In [17]:
# df_count = df_count.sort_values(["Age Ranges"], ascending = True)

# df_count.head()

In [18]:
# percentage=df["Age Ranges"].value_counts(normalize=True).mul(100).round(1).astype(str)+'%'
# percentage

In [19]:
# # age_demographic_df = age_demographic_df.rename_axis([""])
# age_demographic_df = pd.DataFrame({"Total Count": df_count,
#                            "Percentage of Players": percentage})
# age_demographic_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
bin = [0,10,15,20,25,30,35,40,45,50]
label_names= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40-44","40+"]

In [33]:
purchase_data_df["Age Ranges"]=pd.cut(purchase_data_df["Age"],bin,labels=label_names)
data_df=purchase_data_df.groupby("Age Ranges")

In [36]:
purchase_count = df["Purchase ID"].count()
purchase_count

Age Ranges
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
40-44      7
40+        0
Name: Purchase ID, dtype: int64

In [23]:

avg_purchase = df["Price"].mean()
avg_purchase

3.050086805555557

In [24]:
total_value = df["Price"].sum()
total_value

1756.85

In [25]:


age_count=df["SN"].nunique()
avg_total = total_value / age_count
avg_total

3.0500868055555554

In [34]:
age_pay_df = pd.DataFrame({"Purchase Count": purchase_count,
                           "Average Purchase Price": avg_purchase,
                          "Total Purchase Value":total_value})
age_pay_df.head()

ValueError: If using all scalar values, you must pass an index

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:

spenders_df = purchase_data_df.groupby(["SN"])

spenders_purchase = spenders_df["Price"].sum().map("${:.2f}".format)


sep_purchase_count = spenders_df["Purchase ID"].count()

avg_purchase_price = spenders_df["Price"].mean().map("${:.2f}".format)


spenders_data = pd.DataFrame({"Purchase Count": sep_purchase_count,
                             "Average Purchase Price": avg_purchase_price,
                             "Total Purchase Value": spenders_purchase})


top_spenders = spenders_data.sort_values(["Total Purchase Value"], ascending = False)

top_spenders.head()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# purchase_data_df.iloc[:,df,columns.isin(list('Item ID, Item Name, Item Price columns'))]
purchase_data_df.head()

In [ ]:
df.drop(columns=['Purchase ID', 'SN','Age','Gender'])
df.head()

In [ ]:
grouped_df1 = purchase_data_df.groupby(['Item ID','Item Name'])
grouped_df1
purchase = grouped_df1["Price"].sum()

purchase_count = grouped_df1["Purchase ID"].count()

purchase_price = grouped_df1["Price"].mean()

purchase_data = pd.DataFrame({"Purchase Count": purchase_count,"Item Price": purchase_price,
                             "Total Purchase Value": purchase})




purchase_data = purchase_data.sort_values(["Purchase Count"], ascending = False)
purchase_data.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
purchase_data = purchase_data.sort_values(["Total Purchase Value"], ascending = False)
purchase_data.head(5)

In [ ]:
Observations
1) Majority of the players are in 15-30 years range and  that determines their spending habbits and possibly the choice of product they Buy
2) Majority of Players are males and male bias can result in the kind of items being sold and can have direct effect on spending habbit and profitability 
3) average price of products is in range $2-$5 . Items need to have more variety and price range , if we need to improve prifitability